@import '../../../styles/core';

.containers {
	width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.regular { 
    .line {
      height: 3.5rem;
    }
    span {
      font-size: 2.2rem;
      line-height: 3.2rem;
      
      @include md-down {
        font-size: 1.4em;
        line-height: 1.2em;
      }
    }
  }
    span {
      color: var(--white);
      font-size: 7rem;
      line-height: 9.2rem;
      position: absolute;
      //if you need to center the text
      @include md-down {
        font-size: 3em;
      }
      &.center {
        left: calc(50% - 25vw);
        @include md-down {
          left: 0;
          text-align: center;
          width: 100%;
        }
      }
    }
}

.line {
  width: 100%;
  height: 9.5rem;
  position: relative;
  overflow: hidden;
}

.dissapear {
  opacity: 0;
}