{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020
    },
    "extends": "next",
    "rules": {
        "react/no-unescaped-entities": "off",
        "@next/next/no-page-custom-font": "off"
    }
  }
  