@import '../../../styles/core';

.root {
    height: calc(100vh - 100px);
    width: 100%;
    margin-top: 100px;
}

.title {
    font-family: var(--font-primary);
}

.backgroundText {
    position: absolute;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: calc(100% - var(--grid-gap) *2);
    left: calc(var(--grid-gap) / 2);
    height: 100%;
    display: flex;
    align-items: flex-end;

    & > div {
      display: flex;  
    }
}

.text { 
    line-height: 0.9em;
    font-size: 28em;
    transform: translateY(500px);

    @include md-down {
        font-size: 9em;
    }
}

.backgroundLayout {
    & > div {
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10%;
    }
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    top: 0;
    display: flex;
    align-items: center;
    @include md-down {
        overflow: hidden;
    }
}
.item {
    width: 100%;
    position: relative;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #727272;
    position: absolute;
    bottom: 0px;
}
.canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 111vh;
    z-index: 1;

    @include md-down {
        top: 98vh;
    }
}

.fixed {
    position: fixed;
    top: inherit;
}

.loaderActive {
    .backgroundLayout {
        // opacity: 0;
        .item {
            opacity: 0;
            left: 50%;
        }
    }
    .backgroundText {
        h2 {
            opacity: 0;
            @include md-down {
                left: 0;
                opacity: 1;
            }
        }
    }
    .canvas {
        opacity: 0;
        // transform: scale(0.4);
        transform: translateY(10%);
    }
}

.loadingText {
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 9;
    pointer-events: none;
    overflow: hidden;
    h4 {
        font-size: var(--size-lg);
        margin-right: 0.3em;
        opacity: 0;
    }
}
