// @import url('@/components/styles/_base.scss');
// @import url('@/components/styles/_core.scss');
// @import url('@/components/styles/_grid.scss');
// @import url('@/components/styles/globals.scss');
// @import url('@/components/styles/_utils.scss');

.root {
  font-size: var(--size-sm);
  line-height: calc(var(--size-em) - 2px);
  min-height: 900px;
  position: relative;
  height: 99.9vh;
  margin-top: 5em;
  
  &.dark {
    // background-color: var(--black);
    color: var(--white);
  }
  &.light {
    // background-color: var(--white);
    color: var(--black);
  }
}

.textBasic {
  font-size: var(--size-lg);
}

.textAnimation {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  position: relative;
  
  h3 {
    font-size: 18vw;
  }
}

.socialMedia {
  line-height: var(--size-md);
  .textBasic {
    font-size: var(--size-md);
  }
}

.canvasFoot {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}

.blurBackdrop {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: #ffffff59;
  top: 0px;
  backdrop-filter: blur(8px);
}