// @import url('@/components/styles/_base.scss');
// @import url('@/components/styles/_core.scss');
// @import url('@/components/styles/_grid.scss');
// @import url('@/components/styles/globals.scss');
// @import url('@/components/styles/_utils.scss');

.root {
  font-size: var(--size-sm);
  line-height: calc(var(--size-em) - 2px);
  min-height: 900px;
  position: relative;
  &.dark {
    background-color: var(--black);
    color: var(--white);
  }
  &.light {
    background-color: var(--white);
    color: var(--black);
  }
}

.textBasic {
  font-size: var(--size-lg);
}

.textAnimation {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  position: relative;
  
  h3 {
    font-size: 18vw;
  }
}

.socialMedia {
  line-height: var(--size-md);
  .textBasic {
    font-size: var(--size-md);
  }
}