// @import url('@/components/styles/_base.scss');
// @import url('@/components/styles/_core.scss');
// @import url('@/components/styles/_grid.scss');
// @import url('@/components/styles/globals.scss');
// @import url('@/components/styles/_utils.scss');

.root {
  font-size: var(--size-sm);
  line-height: calc(var(--size-em) - 2px);
  min-height: 100vh;
  &.dark {
    background-color: var(--black);
    color: var(--white);
  }
  &.light {
    background-color: var(--white);
    color: var(--black);
  }
}
