// stylelint-disable rule-empty-line-before, at-rule-empty-line-before, declaration-block-no-shorthand-property-overrides

// Bootstrap-like CSS Grid System
// https://getbootstrap.com/docs/5.3/layout/css-grid/

// Available classes:
//  * container
//  * grid
//  * span-[1|2|3|...|11|12]
//  * start-[1|2|3|...|11|12]

$grid-columns: 12;
$grid-gap: max(1em, calc(24px + (100vw - 1440px) / 20));

:root {
  --grid-columns: #{$grid-columns};
  --grid-gap: #{$grid-gap};
}

.container {
  width: 100%;
  padding-right: var(--grid-gap);
  padding-left: var(--grid-gap);
}

.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, minmax(0, 1fr));
  gap: var(--grid-gap);

  &.debug > * {
    background-color: var(--goldy);
    padding: 1rem;
  }
}

@for $i from 1 through $grid-columns {
  .span-#{$i} {
    grid-column: auto/span $i;
  }
}

@include sm {
  @for $i from 1 through $grid-columns {
    .span-sm-#{$i} {
      grid-column: auto/span $i;
    }
  }
}

@include md {
  @for $i from 1 through $grid-columns {
    .span-md-#{$i} {
      grid-column: auto/span $i;
    }
  }
}

@include lg {
  @for $i from 1 through $grid-columns {
    .span-lg-#{$i} {
      grid-column: auto/span $i;
    }
  }
}

@include xl {
  @for $i from 1 through $grid-columns {
    .span-xl-#{$i} {
      grid-column: auto/span $i;
    }
  }
}

@for $i from 1 through $grid-columns {
  .start-#{$i} {
    grid-column-start: $i;
  }
}

@include sm {
  @for $i from 1 through $grid-columns {
    .start-sm-#{$i} {
      grid-column-start: $i;
    }
  }
}

@include md {
  @for $i from 1 through $grid-columns {
    .start-md-#{$i} {
      grid-column-start: $i;
    }
  }
}

@include lg {
  @for $i from 1 through $grid-columns {
    .start-lg-#{$i} {
      grid-column-start: $i;
    }
  }
}

@include xl {
  @for $i from 1 through $grid-columns {
    .start-xl-#{$i} {
      grid-column-start: $i;
    }
  }
}
