.heroSection {
	position: relative;
	overflow: hidden;
	font-size: 40px;
	font: 900 9vw/1 sans-serif;
	padding-top: 1em;
	padding-bottom: 1em;
	transition: background-color 0.2s ease-out; 
	span {
			font-weight: 400;
			text-transform: uppercase;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			font-size: var(--size-l);
			transition: color 0.2s ease-out; 
	}
	&.dark {
		background-color: black;
		span {
			color: white;
		}
	}
	&.light {
		background-color: white;
		span {
			color: black;
		}
	}
}