.heroSection {
	position: relative;
	overflow: hidden;
	font-size: 40px;
	background-color: currentColor;
	font: 900 9vw/1 sans-serif;
	& > div {
			div {
					font-weight: 400;
					text-transform: uppercase;
					padding-top: 0.5em;
					padding-bottom: 0.5em;
					font-size: var(--size-l);
					color: white;
			}
	}
}