.root {
  padding-top: 22px;
  padding-bottom: 22px;
  position: absolute;
  top: -300px;
  // transform: translateY(-100px);
  z-index: 2;
  width: 100%;

  &.dark {
    &.fixed {
      color: white;
      background: #000000;
    }
  }
  &.light {
    &.fixed {
      color: black;
      background: white;
    }
  }
}

.logo {
  & > a {
    font-size: var(--size-xl);
    line-height: max(0.7em, 54px + (100vw - 1440px) / 25);
  }
}

.infoHeader {
  display: flex;
  justify-content: space-between;
}

.copy {
  font-size: var(--size-sm);
  line-height: 13px;
  text-transform: uppercase;
  max-width: 60%;
}

.button {
  font-size: var(--size-sm);
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 14px;
  display: flex;
  align-items: center;

  &:hover {
    font-weight: 600;
  }
}

.fixed {
  position: fixed;
  top: -100px;
  z-index: 9;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;

  &.forceHide {
    position: absolute;
    top: 0;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
  }
}

.animateFix {
  top: 0;
  transition: top 0.3s ease;
}