.root {
    padding: 3em 0;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    p {
        margin-top: 1em;
    }
    &.light {
        background: white;
        color: black;

        .cross {
            background: white;
        }
    }
    &.dark {
        background: black;
        color: white;

        .cross {
            background: black;
        }
    }
}

.item {
    border: 1px solid #727272;
    min-height: auto;
    position: relative;
    opacity: 0;
    padding: 1em;
}

.cross {
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 15px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -42.5px;
    transition: background-color 0.2s ease-out;

    &::before {
        content: '';
        width: 30px;
        background: #727272;
        height: 1px;
        position: absolute;
    }

    &::after {
        content: '';
        height: 30px;
        width: 1px;
        position: relative;
        background: #727272;
    }

    &:nth-of-type(1) {
        top: -30px;
    }

    &:nth-last-child(1) {
        bottom: -30px;;
    }
}